*{
    margin: 0;
    padding: 0;
}

/*登录身体 开始*/
.body_middle{
    background-image: url("../img/bg-img-04.jpg");
    height:45rem;
    background-position: 0px 70px;
    background-size: 100%;
    background-attachment: fixed;
}
.menban{
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.7);
    color:#ffffff;
    border-top: 1px solid #000;
}
.menban_p1{
    margin-top: 80px;
}
.in_name{
    width:100%;
    background: transparent;
    color:#b9bbbe;
    border:0;
    border-bottom: 1px solid #ffffff;
    font:bold 16px "微软雅黑";
    padding: 5px 3px;
}
.in_name:focus{
    outline: none;
    border-bottom: 1px solid #f00;
    transition: 2s;

}
/*登录身体 结束*/

@media (max-width:768px){
    .body_middle{
        height:52rem;
    }
}
